<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.xzazt.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:annotation-driven/>

    <context:annotation-config/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.xzazt.controller.InterceptController"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:default-servlet-handler/>

    <mvc:resources mapping="/resources/*" location="/resources/*"/>
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 视图类型 jsp视图解析器 -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="contentType" value="text/html;charset=utf-8"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <!-- 多视图使用 对jsp开头的视图名进行处理，比如返回的视图名为jsp/a 那么会交给viewNames为jsp*的那个解析器处理 -->
        <!--<property name="viewNames" value="jsp*"/>-->
    </bean>

    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 100M -->
        <property name="maxUploadSize" value="104857600"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

</beans>